<footer xmlns:th="http://www.thymeleaf.org">
    <div class="footer-top section-pb section-pt-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-footer mt-40">
                        <h6 class="title-widget">Thông tin hỗ trợ</h6>

                        <div class="contact-call-wrap">
                            <img th:src="@{/assets/images/icon/img-headphone.png}" alt="">
                            <div class="footer-call">
                                <p>Đường dây nóng miễn phí 24/24:</p>
                                <h6>(+84) 123 456 789</h6>
                            </div>
                        </div>
                        <div class="footer-addres">
                            <p>Tòa Nhà HTC, 250 Hoàng Quốc Việt, Cổ Nhuế, Cầu Giấy, Hà Nội</p>
                            <p>pisces143@gmail.com</p>
                        </div>

                        <ul class="social-icons">
                            <li>
                                <a class="facebook social-icon" th:href="@{#}" title="Facebook" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter social-icon" th:href="@{#}" title="Twitter" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="instagram social-icon" th:href="@{#}" title="Instagram" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="linkedin social-icon" th:href="@{#}" title="Linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a class="rss social-icon" th:href="@{#}" title="Rss" target="_blank">
                                    <i class="fa fa-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget-footer mt-40">
                        <h6 class="title-widget">Thông tin</h6>
                        <ul class="footer-list">
                            <li><a th:href="@{#}">Trang chủ</a></li>
                            <li><a th:href="@{#}">Về chúng tôi</a></li>
                            <li><a th:href="@{#}">Sản phẩm</a></li>
                            <li><a th:href="@{#}">Sản phẩm giảm giá</a></li>
                            <li><a th:href="@{#}">Tin tức</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget-footer mt-40">
                        <h6 class="title-widget">Hỗ trợ</h6>
                        <ul class="footer-list">
                            <li><a th:href="@{#}">Câu hỏi thường gặp</a></li>
                            <li><a th:href="@{#}">Chính sách đổi trả</a></li>
                            <li><a th:href="@{#}">Chính sách giao hàng</a></li>
                            <li><a th:href="@{#}">Khách hàng thân thiết</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="widget-footer mt-40">
                        <h6 class="title-widget">Tải app</h6>
                        <p>
                            Ứng dụng GreenLife hiện có sẵn trên Google Play & App Store. Nhận nó ngay bây giờ.</p>
                        <ul class="footer-list">
                            <li><img th:src="@{/assets/images/brand/img-googleplay.jpg}" alt=""></li>
                            <li><img th:src="@{/assets/images/brand/img-appstore.jpg}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copy-left-text">
                        <p>Copyright &copy; <a th:href="@{#}">Origine</a> 2021. All Right Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="copy-right-image">
                        <img th:src="@{/assets/images/icon/img-payment.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
